.bg-light-orange {
  background-color: rgba(255, 166, 0, 0.3) !important;
}

.bg-light-green {
  background-color: rgba(0, 128, 0, 0.3) !important;
}

.bg-light-gray {
  background-color: rgba(128, 128, 128, 0.3) !important;
}